<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/tabs/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>List Stasiun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list #mylist>
    <ion-card>
    <ion-item *ngFor="let item of dataStasiun">
      <ion-label class="cardKeterangan" (click)="detailPage(item.stasiun)">
        <b>Stasiun :</b> {{ item.stasiun }}
      </ion-label>
    </ion-item>
  </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" (click)="updateData()">Update Data</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>
