<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List Data
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment color="success" [(ngModel)]="segment">
      <ion-segment-button value="segment1">
        Data Open
      </ion-segment-button>
      <ion-segment-button value="segment2">
        Data Submitted
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'segment1'">
      <ion-refresher slot="fixed" (ionRefresh)="doRefreshOpen($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      
      <div *ngIf="dataOpen">
        <ion-list #mylist>
          <ion-card *ngFor="let item of itemsOpen">
            <ion-item-sliding>
              <ion-item (click)="update_page(item.id)">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-label class="cardKeterangan">
                        <b>ID :</b> {{ item.id }} 
                      </ion-label>
                      <ion-label class="cardKeterangan">
                        <b>Stasiun :</b> {{ item.stasiun }}
                      </ion-label>
                      <ion-label class="cardKeterangan">
                          <b>Transaction Date :</b> {{ item.transDate | date:'dd-MM-yyyy' }}
                      </ion-label>
                      <ion-label text-wrap>
                        <ion-text><b>Status : </b></ion-text>
                        <ion-text color="success">
                          <b>{{ item.flag === '1' ? 'Submitted' : '-' }}</b>
                        </ion-text>
                        <p>{{ item.modified | date:'short'}}</p>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>          
              <ion-item-options side="start">
                <ion-item-option color="success" (click)="submitData(item.id)">Upload</ion-item-option>
              </ion-item-options>
              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deleteItem(item.id)">Delete</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-card>
        </ion-list>
      </div>  
    </div>
    
    <div *ngSwitchCase="'segment2'">      
      <ion-refresher slot="fixed" (ionRefresh)="doRefreshSubmit($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      
      <div *ngIf="dataSubmit">   
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="8">
            <ion-button shape="full" expand="block" (click)="showAlertConfirmDelete()"><ion-icon name="trash"></ion-icon>Clear Data</ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>

        <ion-list #mylist>
          <ion-card *ngFor="let item of itemsSubmit">
          <ion-item-sliding>
            <ion-item (click)="detail_page(item.id)">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label class="cardKeterangan">
                      <b>ID :</b> {{ item.id }} 
                    </ion-label>
                    <ion-label class="cardKeterangan">
                      <b>Stasiun :</b> {{ item.stasiun }}
                    </ion-label>
                    <ion-label class="cardKeterangan">
                        <b>Transaction Date :</b> {{ item.transDate | date:'dd-MM-yyyy' }}
                    </ion-label>
                    <ion-label text-wrap>
                      <ion-text><b>Status : </b></ion-text>
                      <ion-text color="success">
                        <b>{{ item.flag === '1' ? 'Submitted' : '-' }}</b>
                      </ion-text>
                      <p>{{ item.modified | date:'short'}}</p>
                    </ion-label>
                    <ion-label class="cardKeterangan">
                      <b>Submit Date :</b> {{ item.submitDt | date:'dd-MM-yyyy' }}
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deleteItem(item.id)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-card>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>