<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/tabs/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuration </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="save(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label position="floating">URL / IP Address</ion-label>
              <ion-input name="url" type="text" [(ngModel)]="url" placeholder="http://xx.xx.xx.xx" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button type="submit" [disabled]="form.invalid" expand="block"><ion-icon name="save"></ion-icon>Save</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>



</ion-content>
