<ion-split-pane>
  <ion-menu contentId="content">
    <ion-content>
      <ion-card text-center class="hide-card" no-margin>
        <img src="../../../assets/img/username.png" class="custom-avatar"/>
        <ion-card-title>{{nama}}</ion-card-title>
        <ion-card-subtitle>{{jabatan}} {{department}} - {{mill}}</ion-card-subtitle>
      </ion-card>
      <ion-list> 
        <ion-menu-toggle auto-hide="true">
          <ion-item tappable routerLink="/menu/tabs/tabs/home" routerDirection="root">
            <ion-icon name="home" slot="start"></ion-icon>
            Home
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item tappable routerLink="/kegiatan" routerDirection="root">
            <ion-icon name="list" slot="start"></ion-icon>
            List Stasiun
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item tappable routerLink="/listtag" routerDirection="root">
            <ion-icon name="alert" slot="start"></ion-icon>
            List Tag Merah
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item tappable routerLink="/list-maintenance" routerDirection="root">
            <ion-icon name="construct" slot="start"></ion-icon>
            List Tag Maintenance
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item tappable routerLink="/ip-server" routerDirection="root">
            <ion-icon name="settings" slot="start"></ion-icon>
            Configuration
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item tappable (click)="logoutUser()">
            <ion-icon name="log-out" slot="start"></ion-icon>
            Logout
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-card text-center class="hide-card-version">
        <ion-card-content>App Version {{versionNumber}}</ion-card-content>
      </ion-card>
 
    </ion-content>
 
  </ion-menu> 
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
