.custom-avatar {
    height: 30vw;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.active-item {
    border-left: 8px solid var(--ion-color-primary);
}

.textServer{
    font-size: 12px;
    color: grey;
}

.hide-card {
-webkit-box-shadow: none!important;
background-image: linear-gradient(to bottom, #7a89b2, white);
}

.hide-card-version {
-webkit-box-shadow: none!important;
}