<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/tabs/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>List Tag Merah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list #mylist>
    <ion-card>
    <ion-item *ngFor="let item of listTag">
      <ion-label class="cardKeterangan" (click)="detailPage(item.stasiun)">
        <b>Stasiun :</b> {{ item.stasiun }}<br>
        <div *ngIf="item.jumlah > 0; else templateKosong">
          <b>Jumlah :</b> <ion-badge color="danger" slot="end">{{item.jumlah}}</ion-badge>
        </div>
        <ng-template #templateKosong>
          <b>Jumlah :</b> <ion-badge color="success" slot="end">{{item.jumlah}}</ion-badge>
        </ng-template>
      </ion-label>
    </ion-item>
  </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" (click)="updateData()">Update Data</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>
