<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="scan()">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="apps"></ion-icon>
      <ion-label>List Data</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
