<ion-content color="transparant" padding>
  <div padding>
    <ion-button color="success" size="small" (click)="configuration()">
      <ion-icon name="settings"></ion-icon>
    </ion-button>
  </div>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="transparant" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <img src="../../../assets/img/username.png" class="custom-avatar"/>
            </ion-item>
            <ion-item>
              <ion-input name="username" type="text" placeholder="Username" [(ngModel)]="username" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="password" required [type]="getType()"></ion-input>
              <ion-icon name="eye" item-right (click)="toggleTextPassword()"></ion-icon>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div text-center class="div_version">Copyright @2020 - App Version {{versionNumber}}</div>
</ion-content>