ion-content{
    background-image: linear-gradient(to bottom, #7a89b2 , white);
}

ion-item{
    --background: transparant;
    --color: black;
}
ion-button{
    --background: #062f77;
}

.div_version{
    font-size: 11px;
}