<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="kegiatan"></ion-back-button>
    </ion-buttons>
    <ion-title>Detil Kegiatan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <ion-card>
    <ion-card-header>
      <ion-card-title>Stasiun : {{stasiun}}</ion-card-title>
      <ion-card-content *ngFor="let item of listData">
        <b> 
        <ion-col size="1">-</ion-col>
        <ion-col>{{item.kegiatan}}</ion-col>
        </b>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>