<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card no-padding no-margin>
    <img src="../../../assets/img/apps.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Footstep Mill
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Data Open</ion-label>
      <ion-badge color="secondary" slot="end">{{countOpen}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Data Submitted</ion-label>
      <ion-badge color="success" slot="end">{{countSubmmit}}</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label (click)="viewListTag()">Data Tag Merah</ion-label>
      <ion-badge color="danger" slot="end">{{countTag}}</ion-badge>
      <ion-button slot="end" color="dark" (click)="getDataTag()"><ion-icon name="refresh"></ion-icon></ion-button>
    </ion-item>
  </ion-card>
</ion-content>
