<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="listtag"></ion-back-button>
    </ion-buttons>
    <ion-title>Detil Tag Merah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <ion-card *ngFor="let item of listData">
    <ion-card-header>
      <ion-card-subtitle><b>Tanggal :</b> {{item.transaction_date}}, {{item.transaction_time}}</ion-card-subtitle>
      <ion-card-subtitle><b>Diisi Oleh :</b> {{item.user}}</ion-card-subtitle>
      <ion-card-subtitle><b>Stasiun :</b> {{item.stasiun}}</ion-card-subtitle>
      <ion-card-subtitle><b>Kegiatan :</b> {{item.kegiatan}}</ion-card-subtitle>
      <ion-card-subtitle><b>Keterangan :</b> </ion-card-subtitle>
      <ion-card-content>{{item.keterangan}}</ion-card-content>
      <ion-card-subtitle><b>Butuh team maintenance :</b> {{item.maintenance}}</ion-card-subtitle>
      <ion-card-subtitle><b>Rencana tanggal perbaikan :</b><br> {{item.estimasi_selesai}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

