<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/tabs/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>List Tag Maintenance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list #mylist>
    <ion-card>
    <ion-item *ngFor="let item of listTagMaintenance">
      <ion-label class="cardKeterangan" (click)="detailPage(item.stasiun)">
        <b>Stasiun :</b> {{ item.stasiun }}<br>
        <div *ngIf="item.jumlah > 0; else templateKosong">
          <b>Jumlah :</b> <ion-badge color="danger" slot="end">{{item.jumlah}}</ion-badge>
        </div>
        <ng-template #templateKosong>
          <b>Jumlah :</b> <ion-badge color="success" slot="end">{{item.jumlah}}</ion-badge>
        </ng-template>
      </ion-label>
    </ion-item>
  </ion-card>
  </ion-list>
</ion-content>