<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/tabs/tabs/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Data</ion-title>
      <ion-button color="danger" slot="end" (click)="openModal()">{{jmlTag}}</ion-button>
  </ion-toolbar>
</ion-header>
  
<ion-content> 
  <form [formGroup]="form">
  <section>
    <ion-item>
      <ion-label position="stacked">Stasiun</ion-label>
      <ion-row>
        <ion-input class="form-control" formControlName="stasiun" size="50"></ion-input>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tanggal /  Jam</ion-label>
      <ion-datetime display-format="DD-MM-YYYY / HH:mm" class="form-control" formControlName="transDate" readonly ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">User</ion-label>
      <ion-row>
        <ion-input value="{{jabatan}} {{department}} - {{nama}}" readonly></ion-input>
      </ion-row>
    </ion-item>
  </section>

  <section>
    <ion-item-divider>
      <ion-title>Check List :</ion-title>
    </ion-item-divider>
    <ng-container formArrayName="assignment">
      <div *ngFor="let ctrl of form.get('assignment')['controls']; let i = index" [formGroupName]="i">
        <ion-row>
          <ion-col size="8">
            <ion-textarea rows="3" cols="150" formControlName="kegiatan" readonly></ion-textarea>
          </ion-col>
          
          <ion-col size="4">
            <ion-select placeholder="Select" formControlName="kondisi" (ionChange)="kondisiChange(i, $event)">
              <ion-select-option value="yes" [selected]="'yes'==getAssignmentsFormGroup(i).controls['kondisi'].value" >Yes</ion-select-option>
              <ion-select-option value="no" [selected]="'no'==getAssignmentsFormGroup(i).controls['kondisi'].value" >No</ion-select-option>
              <ion-select-option value="skip" [selected]="'skip'==getAssignmentsFormGroup(i).controls['kondisi'].value" >Skip</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <div *ngIf="getAssignmentsFormGroup(i).controls['kondisi'].touched && getAssignmentsFormGroup(i).controls['kondisi'].value=='no'">
          <ion-row>
            <ion-col size="10">
              <ion-item>
                <ion-label position="stacked">Keterangan : </ion-label>
                <ion-input class="form-control" formControlName="keterangan"></ion-input>
                <span class="text-danger" *ngIf="getAssignmentsFormGroup(i).controls['keterangan'].hasError('required')">
                  Field is required! </span>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-icon size="large" name="camera" (click)="takePhoto(i)"></ion-icon>
              <span class="text-danger" *ngIf="getAssignmentsFormGroup(i).controls['photo'].hasError('required')">
                Photo is required! </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <img style="width: 180px; height: 180px;" [src]="listFoto[i]" *ngIf="getAssignmentsFormGroup(i).controls['photo'].value" (click)="viewPhoto(i)">
            </ion-col>
          </ion-row>
        </div>
        <ion-item-divider></ion-item-divider> 
      </div>
    </ng-container>
  </section>

  <section>
    <ion-item-divider>
      <ion-title>Indikasi Kerusakan Lain :</ion-title>
        </ion-item-divider>
          <ng-container formArrayName="temuan">
            <ion-card *ngFor="let ctrl of form.get('temuan')['controls']; let i = index" [formGroupName]="i">                
              <ion-row>
                <ion-col size="10">
                    <ion-card-header>
                        <ion-card-title>Temuan {{ i+1 }}</ion-card-title>
                    </ion-card-header>
                </ion-col>
                <ion-col size="2">
                  <ion-button color="danger" (click)="removeTemuan(i)">
                    <ion-icon slot="start" name="close-circle"></ion-icon>
                  </ion-button>
                </ion-col>                  
              </ion-row>             
              <ion-row>
                <ion-col size="12">
                  <ion-label position="stacked">Keterangan<ion-text color="danger">*</ion-text></ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="10">
                  <ion-input class="form-control" formControlName="keterangan"></ion-input>
                  <span class="text-danger" *ngIf="getTemuanFormGroup(i).controls['keterangan'].hasError('required')">
                    Field is required! </span>
                </ion-col>
                <ion-col size="2">
                  <ion-icon size="large" name="camera" (click)="takePhotoTemuan(i)"></ion-icon>
                  <span class="text-danger" *ngIf="getTemuanFormGroup(i).controls['photo'].hasError('required')">
                    Photo is required! </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <img style="width: 180px; height: 180px;" [src]="listFotoTemuan[i]" *ngIf="getTemuanFormGroup(i).controls['photo'].value" (click)="viewPhotoTemuan(i)">
                </ion-col>
              </ion-row>                
            </ion-card>
          </ng-container>

        <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="success" (click)="addTemuan()"><ion-icon name="add-circle"></ion-icon>Tambah Data</ion-button>
          </ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>
    </section>  
  </form>
</ion-content>
  
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col size="12">
          <ion-button [disabled]="!form.valid" expand="block" (click)="addItem(form)"><ion-icon name="save"></ion-icon>Save</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>