ion-label{
    font-weight: 500;
}

ion-card{
    padding: -5auto;
}

ion-card ion-input {
    border-bottom: 0.5px solid
}

.text-danger{
    color: red;
}

img{
    height: 70vh;
    width: auto;
    margin: auto;
    display: block;
    border: 2px solid #3880ff;
}

